.cards-character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  gap: 1em 1em;
  padding: 1em 1em;
}

.card {
  width: 150px;
  background-color: darkgray;
  border-radius: 5px;
  padding: 20px 20px;
  position: relative;
}

.pagination {
  text-align: center;
}